body {
  margin: 0;
  background-color: #d8dadb;
  text-align: center;
  font-family: "Trebuchet MS", sans-serif;
}

header {
  background-color: #6e6e0e;
  color: rgb(255, 255, 255);
  position: sticky;
  top: 0;
}

#img-area img {
  height: auto;
  width: 70%;
  padding: 2rem 3rem;
  transition: transform 0.1s; /* Animation */
}

#img-area img:hover {
  transform: scale(1.4);
}

h1,
h5 {
  padding: 0;
  margin: 0;
}

.container {
  margin: 0 20%;
}

.img-parent {
  width: 250px;
  height: 250px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  box-sizing: border-box;
}

.muted {
  color: rgb(151, 151, 151);
  font-weight: 100;
}

#text-display {
  font-size: 45px;
  color: white;
  font-style: italic;
  vertical-align: baseline;
  padding: 0 15px;
}

.logo {
  height: 5rem;
  width: auto;
  padding: 1rem;
}

#stripe-bar {
  color: darkgreen;
  height: auto;
  justify-content: start;
  padding: 0 60px 0 75px;
}

#stripe {
  background-color: white;
}

#restart_popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 2px solid green;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  text-align: center;
}

.fade {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.hide {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

#img-area {
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
}

#menu-bar {
  height: auto;
}

.green {
  background-color: green !important;
}

.red {
  background-color: red !important;
}

#attempt {
  position: fixed;
  color: white;
  background-color: grey;
  padding: 5px;
  border-radius: 5px;
  margin: 0;
  right: 10%;
  bottom: 5%;
}

#countAttempt {
  padding: 0;
  margin: 0;
}

.selected {
  color: white;
  background: #6e6e0e;
}

button {
  border: 0;
  padding: 0 20px;
  background: none;
  text-transform: uppercase;
  height: 30px;
  font-weight: 600;
  color: darkgreen;
  letter-spacing: 1px;
  font-size: 90%;
  transition: all 0.5s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  outline: none;
}

button:hover {
  color: white;
  background: #6e6e0e;
}

@media only screen and (max-width: 1061px) {
  .flex {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  #stripe-bar {
    margin: 0;
    padding: 0;
    flex-direction: column;
  }

  .mode {
    width: 100%;
  }
}
